modules = ["python-3.11"]
[nix]
packages = ["unzipNLS"]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42790136
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m pip install -e . && python3 app.py"

[[workflows.workflow]]
name = "Run"
author = 42790136
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m pip install -e . && python3 app.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000